<%- include('include/head.ejs') %> 
<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
<body>
    <%- include('include/navigation.ejs') %> 
    <main>
        <center>
            <h1>Page not found</h1>
        </center>
    </main>
<%- include('include/end.ejs') %> 